* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  color: black;
  padding-top: 50px;
  gap: 2%;
  width: 100%;
  box-sizing: border-box;
  min-width: 400px;
}

.session-one,
.session-two {
  flex: 1;
  background-color: #d3b1c2;
  margin: 20px;
  border-radius: 10px;
}
/*
.session-one {
  width: 40%;
}

.session-two {
  width: 55%;
}*/

.task-container {
  background-color: #fffaf9;
  color: black;
  border-radius: 6px;
  margin: 30px;
}

.card-post {
  background-color: #fffaf9;
}

#feed-container {
  background-color: #ebe6ea;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(3, 3, 3);
}

.botones {
  text-align: right;
}

.card-perfil {
  padding: 10px;
  background-color: #fffaf9;
  border-radius: 6px;
}

@media (min-width: 991px) {
  .text {
    padding: 0 45px 0 0;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 550px) {
  .general {
    flex-direction: column;
  }
}
