@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.text {
  text-align: center;
  padding: 35px;
}

.task-profile-picture {
  width: 40px;
}

.caja {
  background-color: rgba(28, 90, 84, 0.98);
}

.img-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.img-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.iniciar {
  text-align: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  bottom: 450px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.avatar2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  bottom: 450px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

h1 {
  margin-top: 40px;
}

hr {
  border: 2px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.99);
}

/*Registsr sesión*/
.close {
  text-align: left;
}
.modal-content {
  padding: 10px;
}

.modal-header,
.modal-body {
  margin-bottom: 15px;
}

.modal-body .form-control {
  margin-bottom: 15px;
  padding: 10px;
}

#signup-form .input-group {
  margin-bottom: 20px;
}

/* Hacer que el modal sea más grande */
.modal-dialog {
  max-width: 1300px;
  min-width: 30px;
  margin: 0 auto;
}
.title > h1 {
  font-family: "Chewy", system-ui;
  font-size: 35px;
  color: #27898e;
}

.subtitle2 > h2 {
  font-family: "Merienda", cursive;
  font-size: 13px;
  font-weight: 900;
  color: #153738;
}

.word > p {
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  font-size: 12px;
}

/* Ajustes del avatar */
.img-avatar {
  width: 100px;
  height: 100px;
}

.avatar img {
  width: 120px;
  height: 120px;
}

.main-container {
  display: flex;
}

.img-bie {
  width: 100%;
  width: 100%;
}
.bi {
  cursor: pointer;
}

.task-image {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

@media (min-width: 991px) {
  .modal-dialog {
    max-width: 1300px;
    width: 70%;
    min-width: 30px;
  }

  .modal-content {
    padding: 2% 7%;
  }

  .modal-header {
    padding: 0px;
    margin-bottom: 0;
  }

  .contenido-general {
    gap: 20px;
  }

  .avatar {
    width: 100%;
    position: absolute;
    bottom: 485px;
  }

  .avatar img {
    width: 65px;
    height: 65px;
    border: 9px solid #1f1e1e;
  }

  .avatar2 {
    width: 100%;
    position: absolute;
    bottom: 370px;
  }

  .avatar2 img {
    width: 65px;
    height: 65px;
    border: 9px solid #1f1e1e;
  }

  hr {
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.99);
  }

  .registrarse {
    margin: 47px 0 0;
  }

  .img-container {
    width: 100%;
    height: 120px;
    overflow: hidden;
  }

  .text {
    padding: 0 45px 0 0;
  }
}

@media (max-width: 991px) {
  .modal-dialog {
    max-width: 70%;
    min-width: 100px;
  }

  .modal-content {
    padding: 6% 14%;
  }

  .modal-header {
    padding: 0px;
  }

  .avatar {
    width: 100%;
    position: absolute;
    bottom: 480px;
  }
  .avatar img {
    width: 70px;
    height: 70px;
    border: 9px solid #1f1e1e;
  }

  .avatar2 {
    width: 100%;
    position: absolute;
    bottom: 365px;
  }
  .avatar2 img {
    width: 70px;
    height: 70px;
    border: 9px solid #1f1e1e;
  }

  hr {
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.99);
    width: 90%;
  }

  .registrarse {
    margin: 44px 0 0;
  }

  .img-container {
    width: 100%;
    height: 120px;
    overflow: hidden;
  }

  .content {
    padding: 0 7%;
  }
}

@media (max-width: 550px) {
  .modal-dialog {
    max-width: 90%;
    min-width: 100px;
  }

  .modal-content {
    padding: 10px;
  }
  .modal-header {
    padding: 0px;
  }

  .avatar {
    width: 100%;
    position: absolute;
    bottom: 475px;
  }
  .avatar img {
    width: 70px;
    height: 70px;
    border: 9px solid #1f1e1e;
  }

  .avatar2 {
    width: 100%;
    position: absolute;
    bottom: 360px;
  }
  .avatar2 img {
    width: 70px;
    height: 70px;
    border: 9px solid #1f1e1e;
  }

  hr {
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.99);
    width: 90%;
  }

  .registrarse {
    margin: 44px 0 0;
  }

  .img-container {
    width: 100%;
    height: 120px;
    overflow: hidden;
  }

  .content {
    padding: 0;
  }
}

/*100vh*/

.btn-close {
  flex-direction: row;
  align-items: flex-end;
}

.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*max-width: 480px

max-width: 900px

max-width: 1024px*/
